@import './reset.css';

:root {
	/* colors */
	--vr-color-white: #ffffff;
	--vr-color-black: #000000;
	--colors: (
		primary: #409eff,
		success: #67c23a,
		warning: #e6a23c,
		danger: #f56c6c,
		info: #909399
	);
	--vr-bg-color: #ffffff;
	--vr-bg-color-page: #f2f3f5;
	--vr-bg-color-overlay: #ffffff;
	--vr-text-color-primary: #303133;
	--vr-text-color-regular: #606266;
	--vr-text-color-secondary: #909399;
	--vr-text-color-placeholder: #a8abb2;
	--vr-text-color-disabled: #c0c4cc;
	--vr-border-color: #dcdfe6;
	--vr-border-color-light: #e4e7ed;
	--vr-border-color-lighter: #ebeef5;
	--vr-border-color-extra-light: #f2f6fc;
	--vr-border-color-dark: #d4d7de;
	--vr-border-color-darker: #cdd0d6;
	--vr-fill-color: #f0f2f5;
	--vr-fill-color-light: #f5f7fa;
	--vr-fill-color-lighter: #fafafa;
	--vr-fill-color-extra-light: #fafcff;
	--vr-fill-color-dark: #ebedf0;
	--vr-fill-color-darker: #e6e8eb;
	--vr-fill-color-blank: #ffffff;

	@each $val, $color in var(--colors) {
		--vr-color-$(val): $(color);
		@for $i from 3 to 9 {
			--vr-color-$(val)-light-$(i): mix(#fff, $(color), 0$ (i));
		}
		--vr-color-$(val)-dark-2: mix(#000, $(color), 0.2);
	}

	/* border */
	--vr-border-width: 1px;
	--vr-border-style: solid;
	--vr-border-color-hover: var(--vr-text-color-disabled);
	--vr-border: var(--vr-border-width) var(--vr-border-style)
		var(--vr-border-color);
	--vr-border-radius-base: 4px;
	--vr-border-radius-small: 2px;
	--vr-border-radius-round: 20px;
	--vr-border-radius-circle: 100%;

	/*font*/
	--vr-font-size-extra-large: 20px;
	--vr-font-size-large: 18px;
	--vr-font-size-medium: 16px;
	--vr-font-size-base: 14px;
	--vr-font-size-small: 13px;
	--vr-font-size-extra-small: 12px;
	--vr-font-family:
		'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
	--vr-font-weight-primary: 500;

	/*disabled*/
	--vr-disabled-bg-color: var(--vr-fill-color-light);
	--vr-disabled-text-color: var(--vr-text-color-placeholder);
	--vr-disabled-border-color: var(--vr-border-color-light);

	/*animation*/
	--vr-transition-duration: 0.4s;
	--vr-transition-duration-fast: 0.2s;
}
