.vr-icon {
	--vr-icon-color: inherit;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	fill: currentColor;
	color: var(--vr-icon-color);
	font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
	.vr-icon--$(val) {
		--vr-icon-color: var(--vr-color-$(val));
	}
}
