.vr-message {
	--vr-message-bg-color: var(--vr-color-info-light-9);
	--vr-message-border-color: var(--vr-border-color-lighter);
	--vr-message-padding: 15px 19px;
	--vr-message-close-size: 16px;
	--vr-message-close-icon-color: var(--vr-text-color-placeholder);
	--vr-message-close-hover-color: var(--vr-text-color-secondary);
	--vr-message-icon-size: 16px;
	--vr-message-icon-margin: 8px;
}

.vr-message {
	width: fit-content;
	max-width: calc(100% - 32px);
	box-sizing: border-box;
	border-radius: var(--vr-border-radius-base);
	border-width: var(--vr-border-width);
	border-style: var(--vr-border-style);
	border-color: var(--vr-message-border-color);
	position: fixed;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	background-color: var(--vr-message-bg-color);
	padding: var(--vr-message-padding);
	display: flex;
	align-items: center;
	transition:
		top var(--vr-transition-duration),
		opacity var(--vr-transition-duration),
		transform var(--vr-transition-duration);
	.vr-message__icon {
		color: var(--vr-message-text-color);
		font-size: var(--vr-message-icon-size);
		width: var(--vr-message-icon-size);
		margin-right: var(--vr-message-icon-margin);
	}
	.vr-message__content {
		color: var(--vr-message-text-color);
		overflow-wrap: break-word;
	}
	&.is-close .vr-message__content {
		padding-right: 10px;
	}
	&.text-center {
		justify-content: center;
	}
	.vr-message__close {
		display: flex;
		align-items: center;
	}
	.vr-message__close .vr-icon {
		cursor: pointer;
	}
}

@each $val in info, success, warning, danger {
	.vr-message--$(val) {
		--vr-message-bg-color: var(--vr-color-$(val)-light-9);
		--vr-message-border-color: var(--vr-color-$(val)-light-8);
		--vr-message-text-color: var(--vr-color-$(val));
		.vr-message__close {
			--vr-icon-color: var(--vr-color-$(val));
		}
	}
}

.vr-message--error {
	--vr-message-bg-color: var(--vr-color-danger-light-9);
	--vr-message-border-color: var(--vr-color-danger-light-8);
	--vr-message-text-color: var(--vr-color-danger);
	.vr-message__close {
		--vr-icon-color: var(--vr-color-danger);
	}
}

.vr-message.fade-up-enter-from,
.vr-message.fade-up-leave-to {
	opacity: 0;
	transform: translate(-50%, -100%);
}
